{% layout 'layout.liquid' %}

{% block content %}
<div class="container-md">
    <form action="/nba/" method="POST">
        <fieldset>
            <legend>Create New Team</legend>
            <label class="form-label">Team Name:</label>
            <input 
                class="form-control" 
                type="text" 
                name="name" 
                placeholder="enter name"
            >
            <label class="form-label">Team Mascot:</label>
            <input 
                class="form-control" 
                type="text" 
                name="mascot" 
                placeholder="enter mascot name"
            >
        </fieldset>
        <input 
            type="submit" 
            value="Create New Team" 
            class="btn btn-success"
        >
    </form>
</div>
{% endblock %}