{% layout 'layout.liquid' %}

{% block content %}
<div>
    <h2 class="display-2">Welcome!</h2> 
    <h3><a href="/nba/login">Sign in</a> or <a href="/nba/signup">create an account</a> to get started.</h3>
    
</div>
{% endblock %}