.search-wrapper {
    display: flex;
    flex-direction: column;
    gap: .25 rem;
}

input {
    font-size: 1rem;
}

.player-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
    gap: .25rem;
    margin-top: 1rem;
}

.player-card {
    border: 1px solid black;
    background-color: aliceblue;
    padding: .5rem;
}

.hide {
    display: none;
}

nav {
    height: 7rem;
}

a {
    margin: 4rem;
}

#navbarNav {
    position: absolute;
    left:18%;
}

.team-btn {
    margin: 5px auto;

}